h1 {color: rgb(111, 0, 255);}
th {color: rrgb(111, 0, 255);}
body {background-color: rgb(168, 130, 168);}

.bodycopy{color: rgb(196, 0, 33);
        font-weight: 300;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px}

      .example {bakcground-color: rgb(172, 172, 0);
      color: black;
      width: %100;
      height: 400px;}

